    /* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #110606dc;
    }
    
    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 40px 0;
    }
    
    .contenedor .oso {
        position: relative;
        width: 320px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 30px;
        transition: 0.5s;
    }
    
    .contenedor .oso::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 50px;
        width: 50%;
        height: 100%;
        background: #ddd;
        border-radius: 12px;
        transform: skewX(15deg);
        transition: 0.5s;
    }
    
    .contenedor .oso::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 50px;
        width: 50%;
        height: 100%;
        background: #ddd;
        border-radius: 8px;
        transform: skewX(15deg);
        transition: 0.5s;
        /*color florecente*
        filter: blur(20px);
    }
    
    .contenedor .oso:hover:before,
    .contenedor .oso:hover:after {
        transform: skewX(0deg);
        left: 20px;
        width: calc(100% - 90px);
    }
    
    .contenedor .oso:nth-child(1):before,
    .contenedor .oso:nth-child(1):after {
        background: linear-gradient(315deg, #eeff00, rgb(255, 5, 5));
    }
    
    .contenedor .oso:nth-child(2):before,
    .contenedor .oso:nth-child(2):after {
        background: linear-gradient(315deg, #0400ff, #00f7ff);
    }
    
    .contenedor .oso:nth-child(3):before,
    .contenedor .oso:nth-child(3):after {
        background: linear-gradient(315deg, #ff009d, rgb(255, 3, 3));
    }
    
    .contenedor .oso span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        pointer-events: none;
    }
    
    .contenedor .oso span::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        /*color transparente*
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: 0.5s;
        animation: animate 2s ease-in-out infinite;
        box-shadow: 0 5px rgba(0, 0, 0, 0.010);
    }
    
    .contenedor .oso:hover span::before {
        top: -50px;
        left: 50px;
        width: 100px;
        height: 100px;
        opacity: 1;
    }
    /*after *
    
    .contenedor .oso span::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        /*color transparente*
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: 0.5s;
        animation: animate 2s ease-in-out infinite;
        box-shadow: 0 5px rgba(0, 0, 0, 0.010);
        animation-delay: -1s;
    }
    
    .contenedor .oso:hover span::after {
        bottom: -50px;
        right: 50px;
        width: 100px;
        height: 100px;
        opacity: 1;
    }
    
    @keyframes animate {
        0%,
        100% {
            transform: translateX(15px);
        }
        50% {
            transform: translateY(-10px);
        }
    }
    
    .contenedor .oso .content {
        position: relative;
        left: 0;
        padding: 20px 40px;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        backdrop-filter: blur(10px);
        z-index: 1;
        transform: 0.5s;
        color: rgb(219, 219, 219);
        /*movimiento*/
        /*display: none;*/
        /* animation: animate 2s ease-in-out infinite;
        animation-delay: -1s;*
    }
    
    .contenedor .oso:hover .content {
        left: -25px;
        padding: 20px 40px;
    }
    
    .contenedor .oso .content h2 {
        /*en mayuscula*
        text-transform: uppercase 2px;
        font-size: 2em;
        color: #ababab;
        margin-bottom: 10px;
    }
    
    .contenedor .oso .content p {
        font-size: 1.1em;
        margin-bottom: 10px;
        line-height: 1.4em;
    }
    
    .contenedor .oso .content a {
        text-transform: uppercase;
        display: inline-block;
        font-size: 1.1em;
        color: rgb(0, 0, 0);
        background: #fff;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: 700;
        margin-top: 5px;
    }
    