/*Portada*/

.container-portada {
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url(https://i.imgur.com/vHeHint.jpg);
    background-size: 200%;
    animation: movimiento 20s infinite linear alternate;
}

@keyframes movimiento {
    from {
        background-position: bottom left;
    }
    to {
        background-position: top right;
    }
}

.capa-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, rgb(156, 73, 73), #02f7f7);
    opacity: 0.5;
}

.container-details {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.details {
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 20px;
    color: white;
}

.details h1 {
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
}

.details p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
}

.details button {
    padding: 10px 20px;
    font-size: 16px;
    background: none;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    transition: background 300ms;
    cursor: pointer;
    margin-left: 10px;
}

.details button:hover {
    background: white;
    color: black;
}


/*Articulo*/

main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

article {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding-right: 20px;
}

article h1 {
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
}

article hr {
    max-width: 500px;
    height: 4px;
    border-style: none;
    background: -webkit-linear-gradient(left, black, #0672d0);
    margin-top: 10px;
    margin-left: 10px;
}

article p {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
    margin-left: 10px;
}

@media screen and (max-width: 500px) {
    .details p {
        font-size: 18px;
    }
}

body {
    align-items: center;
    height: 50vh;
    background: #9b9b9b;
    font-family: consolas;
}

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

.btn-neon:hover {
    background: hsla(133, 98%, 49%, 0.281);
    box-shadow: 10 10px #a945c7, 0 0 40px #02f7f7, 0 0 80px #a945c7;
    transition-delay: 1s;
}

.btn-neon span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #02f7f7);
}

.btn-neon:hover #span1 {
    left: 100%;
    transition: 1s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #02f7f7);
}

.btn-neon:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #02f7f7);
}

.btn-neon:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
}

.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}