@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h4 {
    color: #ffffff;
    background: #c50000;
    margin: 5px;
}

section {
    position: relative;
    min-height: 100vh;
    background: #03410e97;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}


/*fondo 2*/

section.active {
    background: #18181894;
}


/*desaparecer*/

section .container {
    position: relative;
    width: 800px;
    height: 500px;
    background: #a5a5a5;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

section .container .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

section .container .user .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
    transition: 0.6s;
}


/*imagen*/

section .container .user .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*iconos movimiento*/

section .container .user .formBx {
    position: relative;
    width: 50%;
    background: #a5a5a5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.6s;
}


/*leta H#2*/

section .container .user .formBx h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}


/*cammpo unido*/

section .container .user .formBx input {
    width: 100%;
    padding: 10px;
    background: #d1d1d1;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    box-shadow: 14px;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

section .container .user .formBx input[type="submit"] {
    max-width: 100px;
    background: #04167aad;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

section .container .user .signupBx .formBx input[type="submit"] {
    background: #e7e7e7;
}

section .container .user .formBx .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 300;
}

section .container .user .formBx .signup a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(3, 16, 138);
}


/*movimiento*/

section .container .signupBx {
    pointer-events: none;
}

section .container.active .signupBx {
    pointer-events: initial;
}

section .container .signupBx .formBx {
    top: 100%;
}

section .container.active .signupBx .formBx {
    top: 0%;
}

section .container .signupBx .imgBx {
    top: -100%;
    transition: 0.5s;
}

section .container.active .signupBx .imgBx {
    top: 0%;
}


/*izquierda- signinbx*/

section .container .signinBx {
    top: 0;
}

section .container.active .signinBx .formBx {
    top: 100%;
}


/*derecha- imgBx*/

section .container .imgBx {
    top: 0;
    transition: 0.5s;
}

section .container.active .signinBx .imgBx {
    top: -100%;
}


/*display anco and bajo*/

@media (max-width: 991px) {
    section .container {
        max-width: 400px;
    }
    section .container .imgBx {
        display: none;
    }
    section .container .user .formBx {
        width: 100%;
    }
    section .container.active .signinBx .formBx {
        top: -100%;
    }
}