
.center
{
    width: 600px;
    position: absolute;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.texto
{
   width: 600px; 
   margin-left: 100px;

}
.box
{
    float: right;
    position: relative;
    width: 400px;
    height: 200px;
    transform: perspective(500px) rotate(-40deg) skew(25deg);
    box-shadow: -90px 75px 20px rgba(0,0,0,.3);
    background: #fff url(../imagenes/celular.png);
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.5s;
}
.box:hover
{
    transform: perspective(500px) rotate(-40deg) skew(25deg) translate(50px, -50px);
    box-shadow: -150px 115px 100px rgba(0,0,0,.3);
}
#casa
{
    margin-left: 150px;
    margin-right: 1100px;
    border:1px solid rgb(8, 2, 2);
}
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
}
.video
{
    position: absolute;
    width: 800px;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height:315px;
    object-fit: cover;
}
.video h2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height:315px;
    background: #fff;
    font-size: 10vw;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 50vh;
    mix-blend-mode: screen;
}