.center {
    width: 600px;
    position: absolute;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.texto {
    width: 600px;
    margin-left: 100px;
}

#casa {
    margin-left: 150px;
    margin-right: 1100px;
    border: 1px solid rgb(8, 2, 2);
}

.video {
    position: absolute;
    width: 800px;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 315px;
    object-fit: cover;
}

.video h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 315px;
    background: #9b9b9b;
    font-size: 10vw;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 50vh;
    mix-blend-mode: screen;
}