body
{
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}
.center
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box
{
    position: relative;
    width: 400px;
    height: 200px;
    transform: perspective(500px) rotate(-40deg) skew(25deg);
    box-shadow: -90px 75px 20px rgba(0,0,0,.3);
    background: #fff url(..//imagenes/celular.png);
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.5s;
}
.box:hover
{
    transform: perspective(500px) rotate(-40deg) skew(25deg) translate(50px, -50px);
    box-shadow: -150px 115px 100px rgba(0,0,0,.3);
}
.box::before
{
    content: '';
    width: 90px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(-40deg) translate();
    background: #e8e7ec;
}