/*----Fin----*/

figure {
    width: 350px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.5);
    margin: 45px;
}

figure img {
    width: 500px;
    height: 100%;
    transition: 1.0s;
    will-change: transform;
}

figure img:hover {
    transform: translateX(-30%);
    filter: brightness(60%);
}